<!-- views/partials/posts-form.handlebars -->

<fieldset>

    <legend>Edit Post</legend>

    <!-- TITLE -->
    <div class="form-group">
        <label for="post-title">Title</label><br>
        <input class="form-control" id="post-title" type="text" name="title" value="{{post.title}}"/>
        <!-- <input type="text" name="title" /> -->
    </div>

    <!-- FOOD TITLE -->
    <div class="form-group">
        <label for="foodTitle">Food Title</label><br>
        <input class="form-control" id="food-title" type="text" name="foodTitle" value="{{post.foodTitle}}" />
    </div>

    <!-- IMAGE -->
    <div class="form-group">
        <label for="post-imageUrl">Image URL</label><br>
        <input class="form-control" id="post-imageUrl" type="text" name="imageUrl" value="{{post.imageUrl}}" />
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="post-description">Description</label><br>
        <textarea class="form-control" id="post-description" name="description" rows="10" />{{post.description}}</textarea>
    </div>

    <!-- NUMBER -->
    <div class="form-group">
        <label for="post-number">Number</label><br>
        <input class="form-control" id="post-number" type="text" name="number" value="{{post.number}}"/>
    </div>

    <!-- CONTACT INFO -->
    <div class="form-group">
        <label for="post-contactInfo">Contact Information</label><br>
        <input class="form-control" id="post-contactInfo" type="text" name="contactInfo" value="{{post.contactInfo}}"/>
    </div>

</fieldset>
