<!-- views/posts-show.handlebars -->

<a href="/">Back To Home</a>

<h1>{{post.title}}</h1>
<h2>{{post.foodTitle}}</h2>
<p>{{post.description}}</p>
<p>{{post.number}}</p>
<p>{{post.contactInfo}}</p>

<p><a href="/posts/{{post._id}}/edit">Edit</a></p>
